.height {
  height: 20vh;
  width: 90%;
  margin: auto;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.paginasi-container {
  margin: auto;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "prev page next";
  grid-gap: 10%;
}

.paginasi-container h1 {
  grid-area: page;
  text-align: center;
}

.prev {
  grid-area: prev;
  width: 100%;
}

.paginasi-container button {
  width: 100%;
  background-color: #ffcd61;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.paginasi-container button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.next {
  grid-area: next;
  width: 100%;
}

.next button {
  width: 100%;
  background-color: #ffcd61;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.car {
  height: 80vh;
  width: 90%;
  margin: 2% auto 3.5% auto;
}

.cards-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.car h1 {
  font-family: "Playfair Display";
  font-size: 2.34375vw;
  color: black;
  font-weight: 700;
  padding-bottom: 2%;
}

.car h5 {
  padding-left: 90%;
  padding-top: -5%;
  color: red;
  background-color: rgba(0, 0, 0, 0.35);
}

.motor {
  height: 80vh;
  width: 90%;
  margin: 2% auto 3.5% auto;
}

.motor h1 {
  font-family: "Playfair Display";
  font-size: 2.34375vw;
  color: black;
  font-weight: 700;
  padding-bottom: 2%;
}

.motor h5 {
  padding-left: 90%;
  padding-top: -5%;
  color: red;
  background-color: rgba(0, 0, 0, 0.35);
}

.bike {
  height: 80vh;
  width: 90%;
  margin: 2% auto 3.5% auto;
}

.bike h1 {
  font-family: "Playfair Display";
  font-size: 2.34375vw;
  color: black;
  font-weight: 700;
  padding-bottom: 2%;
}

.bike h5 {
  padding-left: 90%;
  padding-top: -5%;
  color: red;
  background-color: rgba(0, 0, 0, 0.35);
}

.col-md-11 {
  margin: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border: none;
  width: 100%;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
