* {
  transition: all 0.6s;
}

main {
  height: 100vh;
  width: 100vw;
  background-image: url(/src/img/wrong.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
}

svg {
  margin-top: 20%;
  margin-bottom: 10%;
}

#main {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.back-link h2 {
  font-family: "Playfair Display";
  color: #888;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding-right: 12px;
  width: max-content;
  animation: type 0.5s alternate infinite;
}

a {
  text-decoration: none;
}

.fof {
  margin-bottom: 5%;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.class {
  width: 50%;
  margin: auto;
  text-align: center;
}

@keyframes top-clip {
  0% {
  }
  50% {
    transform: translateY(21px);
  }
  100% {
    transform: translateY(21px);
  }
}

@keyframes bottom-sand-path {
  0% {
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottom-sand-g {
  0% {
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

@keyframes hourglass-rotation {
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#top-sand #top-clip-path rect {
  animation-name: top-clip;
}

#bottom-sand path {
  transform: translateY(21px);
  animation-name: bottom-sand-path;
}

#bottom-sand g {
  animation-name: bottom-sand-g;
}

svg {
  animation-name: hourglass-rotation;
}
